sftp-config.json
magrathea.conf
git_info.txt
version.php

*.log
logs/*.txt
logs/*.log
app/inc/configs.php
plugins
database/*.sql
git_info.txt
version.php

docker/.env
src/vendor
src/vendor/*
 
.DS_Store
