.angular
_compiled
sftp-config.json
magrathea.conf
logs/*.txt
logs/*.log
app/inc/configs.php
plugins
database/*.sql
git_info.txt
version.php

docker/.env
src/vendor
src/vendor/*
.composer.lock

Magrathea/
log*.txt
log*.log
 
.DS_Store