<p-tabView>

	<p-tabPanel header="Upload">
		<ng-template pTemplate="header">
			<i class="fa fa-upload image-icon"></i> Upload
		</ng-template>
		<app-media-uploader
			(onSelect)="selectImage($event)"
		></app-media-uploader>
	</p-tabPanel>

	<p-tabPanel header="Upload">
		<ng-template pTemplate="header">
			<i class="fas fa-external-link-square-alt image-icon"></i> Image from URL
		</ng-template>
		<app-media-uploader-url
			(onSelect)="selectImage($event)"
		></app-media-uploader-url>
	</p-tabPanel>

	<p-tabPanel>
		<ng-template pTemplate="header">
			<i class="fa fa-images image-icon"></i> Images
		</ng-template>
		<app-media-list
			(onSelect)="selectImage($event)"
		></app-media-list>
	</p-tabPanel>

</p-tabView>	
