<app-window
	class="mb-2"
	title="Listas"
	icon="fa-clipboard-list"
>
	<div class="row mb-4" *ngIf="years.length > 0">
		<div class="col-4">
			<app-select
				id="year"
				label="Ano:"
				[options]="years"
				[(value)]="year"
				(valueChange)="loadLists()"
			/>
		</div>
		<div class="col-4 offset-4 label-margin">
			<app-button
				*ngIf="lists.length > 0"
				type="primary"
				icon="fa fa-refresh"
				caption="Recarregar"
				(action)="loadLists()"
			/>
		</div>
	</div>
	<app-loading-message *ngIf="loading" class="loading-msg" />
	<app-user-table
		*ngIf="!loading"
		[data]="lists"
	/>
</app-window>
