<div class="row">
	<div
		*ngFor="let img of list"
		class="{{bootstrapCol}} img"
		[ngClass]="{
			'selectable': selectable,
		}"
		(click)="imageSelect(img);"
	>
		<app-media-item
			[image]="img"
			[size]="thumbSize"
		></app-media-item>
	</div>
</div>
<div class="row mt-4">
	<div class="col-sm-5">
		<app-loading-message *ngIf="loading"></app-loading-message>
	</div>
	<div class="offset-sm-2 col-sm-5">
		<app-button
			*ngIf="hasMore"
			type="load-more"
			[loading]="loading"
			(action)="loadMore()"
		></app-button>
	</div>
</div>
