@if(form) {
<form [formGroup]="form" (ngSubmit)="onSubmit()" class="space-y-6 p-2">
	<div class="pb-2">
		<app-input label="Description" formControlName="description" [required]="true" />
	</div>

	<div class="grid grid-cols-1 md:grid-cols-2 gap-6">
		<app-input label="Host" formControlName="host" [required]="true" />

		<app-input label="Port" formControlName="port" type="text" [required]="true" />
	</div>

	<div class="grid grid-cols-1 md:grid-cols-2 gap-6">
		<app-input label="User" formControlName="user" [required]="true" />

		<app-input label="Password" formControlName="password" [required]="true" />
	</div>

	<div class="flex items-center py-2">
		<app-checkbox id="smtp-tls" label="TLS Encrypt" formControlName="tls_encrypt" />
	</div>

	@if(loading) {
		<app-loading-message />
	} @else {
		<div class="flex justify-end space-x-2 pt-4">
			@if(!isNew) {
			<app-button type="delete" (click)="onDelete($event)" />
			}
			<app-button type="save" (click)="onSubmit()" />
			<app-button type="cancel" (click)="onCancel()" />
		</div>
	}
</form>

<p-confirmpopup #cp>
	<ng-template #headless let-message>
		<div class="rounded p-4">
			<span>{{ message.message }}</span>
			<div class="flex justify-end gap-2 mt-4">
				<app-button
					icon="check"
					type="success"
					[extraClass]="['icon-only']"
					(click)="cp.onAccept()"
				/>
				<app-button
					icon="cancel"
					type="danger"
					[extraClass]="['icon-only']"
					(click)="cp.onReject()"
				/>
			</div>
		</div>
	</ng-template>
</p-confirmpopup>
}