<div class="row">
	<div class="col-8">
		<app-input
			id="image_url"
			label="Image url:"
			[type]="loading ? 'disabled' : 'text'"
			[(value)]="url"
		></app-input>
	</div>
	<div class="col-4 label-margin">
		<app-button
			icon="fa-angle-double-up"
			caption="Save"
			type="primary"
			(action)="uploadFromUrl()"
			[loading]="loading"
		></app-button>
	</div>
</div>
<div class="row mt-4" *ngIf="uploadedImage">
	<div class="col-12">
		<app-media-uploader-row
			[file]="uploadedImage"
			[selectable]="selectable"
			(onSelect)="mediaSelect($event)"
		/>
	</div>
</div>
