@use "sass:string";
@use 'sass:color';

.vars-file {
	display: none;
}

$primary-color: #192045;
$primary-color-border: rgb(0, 0, 0);
$primary-color-hover: rgb(41, 105, 202);
$primary-color-contrast: #FFF;
$secondary-color: #055e2d;

$background-color: $primary-color;
$background-hover: rgb(63, 63, 87);
$surface-color: #FFF;
$surface-hover: #DDD;

$text-color: $primary-color;
$negative-text: #a4c6ff;
$error-color: red;
$warning-color: yellow;
$success-color: green;

$top-height: 64px;
$menu-width: 250px;
$menu-width-onlyicons: 60px;

@function url-friendly-colour($colour) {
	@return #{'%23'+string.slice('#{$colour}', 2, -1)};

}

// Form validation icons
$icon-success: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='#{url-friendly-colour($success-color)}' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3E%3C/svg%3E") !default;
$icon-warning: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='#{url-friendly-colour($warning-color)}' d='M4.4 5.324h-.8v-2.46h.8zm0 1.42h-.8V5.89h.8zM3.76.63L.04 7.075c-.115.2.016.425.26.426h7.397c.242 0 .372-.226.258-.426C6.726 4.924 5.47 2.79 4.253.63c-.113-.174-.39-.174-.494 0z'/%3E%3C/svg%3E") !default;
$icon-danger: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#{url-friendly-colour($error-color)}' viewBox='-2 -2 7 7'%3E%3Cpath stroke='%23d9534f' d='M0 0l3 3m0-3L0 3'/%3E%3Ccircle r='.5'/%3E%3Ccircle cx='3' r='.5'/%3E%3Ccircle cy='3' r='.5'/%3E%3Ccircle cx='3' cy='3' r='.5'/%3E%3C/svg%3E") !default;


:root {
	--primary: #{$primary-color};
	--primary-contrast-color: #{$primary-color-contrast};
	--secondary: #{$secondary-color};

	--background-color: #{$background-color};
	--background-hover: #{$background-hover};
	--text-color: #{$text-color};

	--surface-color: #{$surface-color};
	--surface-border: var(--primary);
	--surface-card: var(--surface-color);
	--surface-hover: #{$surface-hover};
	--surface-overlay: var(--secondary);

	--error-color: #{$error-color};
	--warning-color: #{$warning-color};
	--success-color: #{$success-color};

	--logo-color: #{$text-color};

	--gradient-primary: linear-gradient(135deg, var(--secondary), var(--primary));
	--gradient-secondary: linear-gradient(135deg, hsl(240 10% 6%), hsl(240 5% 12%));
	--gradient-login: linear-gradient(135deg, #{$primary-color}, #{$secondary-color});

	--transition-duration: var(--p-transition-duration);
	--maskbg: var(--p-mask-background);
	--content-border-radius: var(--p-content-border-radius);

	--focus-ring-width: var(--p-focus-ring-width);
	--focus-ring-style: var(--p-focus-ring-style);
	--focus-ring-color: var(--p-focus-ring-color);
	--focus-ring-offset: var(--p-focus-ring-offset);
	--focus-ring-shadow: var(--p-focus-ring-shadow);

}

@media (prefers-color-scheme: dark) {
	:root {
		--primary: #{$primary-color};
		--primary-contrast-color: #{$primary-color-contrast};
		--secondary: #{$secondary-color};

		--background-color: #{$background-color};
		--background-hover: #{$background-hover};
		--text-color: #{$text-color};

		--surface-color: #{$surface-color};
		--surface-border: var(--primary);
		--surface-card: var(--surface-color);
		--surface-hover: #{$surface-color};
		--surface-overlay: #{$primary-color};

		--error-color: #{$error-color};
		--warning-color: #{$warning-color};
		--success-color: #{$success-color};

		--logo-color: #{$text-color};

		--gradient-primary: linear-gradient(135deg, var(--secondary), var(--primary));
		--gradient-secondary: linear-gradient(135deg, hsl(240 10% 6%), hsl(240 5% 12%));
		--gradient-login: linear-gradient(135deg, #{$primary-color}, #{$secondary-color});

		--transition-duration: var(--p-transition-duration);
		--maskbg: var(--p-mask-background);
		--content-border-radius: var(--p-content-border-radius);

		--focus-ring-width: var(--p-focus-ring-width);
		--focus-ring-style: var(--p-focus-ring-style);
		--focus-ring-color: var(--p-focus-ring-color);
		--focus-ring-offset: var(--p-focus-ring-offset);
		--focus-ring-shadow: var(--p-focus-ring-shadow);

		--menu-background: var(--surface-color);
		--menu-text-color: var(--text-color);
		--menu-item-color: var(--text-color);
		--menu-submenu-text-color: var(--secondary);

	}
}