<div class="btns center">
	version: {{ version }}
	<hr/>
	<app-button caption="Build" (action)="build()" type="primary"></app-button>
	<app-button caption="Api" (action)="api()" type="primary"></app-button>
	<app-button caption="Store" (action)="store()" type="primary"></app-button>
	<app-button caption="Token" (action)="token()" type="primary"></app-button>
	<app-button caption="Cache" (action)="cache()" type="primary"></app-button>
	<app-button caption="Medias" (action)="medias()" type="primary"></app-button>
</div>
