<div class="form-group p-float-label">
	<p-floatlabel [variant]="floatPos">
		<input type="{{type}}"
			pInputText
			class="form-control input-field {{extraClass}}"
			[required]="required"
			[ngClass]="{ 'ng-invalid': error }"
			[id]="id" [name]="id"
			[placeholder]="placeholder"
			[(ngModel)]="value"
			(ngModelChange)="valueEmit();"
			(keyup)="onKeyup($event)"
			[ngModelOptions]="{ updateOn: 'blur' }"
			[disabled]="(type == 'disabled')"
			[autocomplete]="autocomplete"
		>
			<label for="{{id}}">{{label}} @if (required) { <span class="required">*</span> } </label>
			@if(loading) {
				<app-loading extraClass="small" />
			}
	</p-floatlabel>
</div>
