<div class="row" *ngIf="image_id">
	<div class="col-sm-6" #image >
		<mag-image
			[id]="image_id"
			[width]="300"
			[height]="500"
		></mag-image>
	</div>
	<div class="col-sm-6">
		<ul class="mb-4">
			<li><b>#ID: </b>{{ data?.id }}</li>
			<li><b>Name: </b>{{ data?.name }}</li>
			<li><b>Extension: </b>{{ data?.extension }}</li>
			<li><b>Type: </b>{{ data?.file_type }}</li>
			<li><b>Dimension: </b>{{ (data?.width) ? data?.width + ' x ' + data?.height : "???" }}</li>
			<li><b>Size: </b>{{ size }}</li>
		</ul>
		<app-button
			caption="Delete"
			icon="fa fa-trash"
			extraClass="['btn-error']"
			(action)="remove()"
			class="btn-delete"
			[loading]="loading"
		></app-button>
		<hr  *ngIf="showRawData"/>
		<pre *ngIf="showRawData">{{ data | json }}</pre>
		<app-loading-message *ngIf="loading"></app-loading-message>
	</div>
	<p-contextMenu
		[model]="contextMenu"
		[target]="image"
		appendTo="body"
	/>
</div>
