<app-loading-message *ngIf="loading" />
<div class="user-container flex" *ngIf="user">
	<div class="flex">
		<h3>{{ user.name }}</h3>
	</div>
	<div class="flex user-data">
		<b>E-mail:</b> {{ user.email }}<br/>
		<b>City:</b> {{ user.city }}<br/>
		<b>State:</b> {{ user.state }}<br/>
		<b>Created at:</b> {{ user.created_at | date:"yyyy-MM-dd HH:mm:ss" }}<br/>
		<div class="link">
			<b>Link:</b><br/>
			<a href="{{ user.link }}" target="_blank">{{ user.link }}</a>
		</div>
	</div>
	<hr/>
	<div class="flex">
		<b>{{user.points}}</b> pontos
		<app-user-list-view [bets]="user.list" />
	</div>
	<div class="flex my-4" *ngIf="user.test">
		<app-button
			type="delete"
			(action)="deleteUser()"
		/>
	</div>
</div>
