<app-window
	title="Logs"
	icon="bug"
>
	<p-table 
		[value]="logs"
		selectionMode="single" 
		dataKey="id"
		(onRowSelect)="rowClick($event)">
			<ng-template pTemplate="header">
				<tr>
					<th>#ID User</th>
					<th>Action</th>
					<th>Victim</th>
					<th>Date</th>
				</tr>
			</ng-template>
			<ng-template pTemplate="body" let-item>
				<tr [pSelectableRow]="item">
					<td>{{item.user_id}}</td>
					<td>{{item.action}}</td>
					<td>{{item.victim}}</td>
					<td class="td-date">{{item.created_at}}</td>
				</tr>
			</ng-template>
			<ng-template pTemplate="footer">
				<div class="d-flex flex-row justify-content-center footer" *ngIf="loading">
					<app-loading extraClass="inline" class="loading"></app-loading>
					<span class="loading-caption">Carregando...</span>	
				</div>
				<div class="d-flex flex-row load-more-footer" *ngIf="showLoadMore">
					<app-button
						type="load-more"
						class="w-100"
						(action)="loadMore()"
					></app-button>
				</div>
			</ng-template>
	</p-table>
</app-window>
