<app-window [title]="smtp['id'] ? 'Edit SMTP' : 'New SMTP'" icon="paper-plane" [loading]="loading">
	<form (ngSubmit)="onSubmit()" #smtpForm="ngForm" class="space-y-4">
		<app-input
				label="Name"
				[(ngModel)]="smtp.name"
				name="name"
				[required]="true"
		></app-input>

		<app-input
				label="Description"
				[(ngModel)]="smtp.description"
				name="description"
		/>

		<div class="grid grid-cols-1 md:grid-cols-2 gap-4">
				<app-input
						label="Host"
						[(ngModel)]="smtp.host"
						name="host"
						[required]="true"
				/>

				<app-input
						label="Port"
						[(ngModel)]="smtp.port"
						name="port"
						type="number"
						[required]="true"
				/>
		</div>

		<div class="grid grid-cols-1 md:grid-cols-2 gap-4">
				<app-input
						label="User"
						[(ngModel)]="smtp.user"
						name="user"
						[required]="true"
				/>

				<app-input
						label="Password"
						[(ngModel)]="smtp.password"
						name="password"
						type="password"
						[required]="true"
				/>
		</div>

		<div class="flex items-center">
				<p-checkbox [(ngModel)]="smtp.tls_encrypt" name="tls_encrypt" inputId="tls_encrypt_check"></p-checkbox>
				<label for="tls_encrypt_check" class="ml-2">Use TLS Encryption</label>
		</div>

		<div class="flex justify-end space-x-2 pt-4">
				<app-button caption="Save" type="success" (click)="onSubmit()"/>
				<app-button caption="Cancel" type="danger" (click)="onCancel()"/>
		</div>
	</form>
</app-window>