@if (show) {
<div class="d-flex flex-column sidebar">
	@if (showClose) {
		<fa-icon [icon]="['fas', 'square-caret-left']" class="icon-close" (click)="show = false" />
	}
	<p-menu [model]="menuItems">
		<ng-template #start>
			<div class="flex justify-center">
				<app-logo class="logo" fillColor="#FFF" />
			</div>
		</ng-template>

		<ng-template #submenuheader let-item>
			<span class="text-primary font-bold">{{ item.label }}</span>
		</ng-template>

		<ng-template #item let-item>
			<a pRipple class="flex items-center p-menu-item-link">
				<span [class]="item.icon"></span>
				<fa-icon [icon]="['fas', item.icon]" />
				<span class="ml-2">{{ item.label }}</span>
				@if(item.badge) { <p-badge class="ml-auto" [value]="item.badge" /> }
				@if(item.shortcut) {
					<span class="ml-auto border border-surface rounded bg-emphasis text-muted-color text-xs p-1">
						{{ item.shortcut }}
					</span>
				}
			</a>
		</ng-template>
	</p-menu>
	<!--p-panelMenu [model]="menuItems" [multiple]="true"></p-panelMenu-->
</div>
} @else {
	@if (showClose) {
		<fa-icon [icon]="['fas', 'square-caret-right']" class="icon-open" (click)="show = true" />
	}
}