@use "vars";
@use "mixins";

// The sidebar container itself
.sidebar {
	position: fixed;
	height: 100%;
	width: vars.$menu-size;
	.logo {
		width: 150px;
		display: block;
	}
	.icon-close {
		position: absolute;
		color: vars.$negative-text;
		top: 0;
		left: calc(vars.$menu-size) - 20px;
		z-index: 1000;
	}
}
.icon-open {
	color: vars.$primary-color;
}

.p-menu {
	min-height: 100vh;
	
}

@include mixins.mobile-on {
	.sidebar {
		width: 100%;
		z-index: 999;
		.header {
			width: 100%;
			.icon-action {
				display: block;
				margin-right: 20px;
			}
		}
	}
}
