<app-window title="Ads Settings" icon="fa-puzzle-piece">
	<div class="row">
		<div class="col-sm-12 result">
			<span>Marketing: <b>{{marketing_on}}</b> (marketing tools, not ads related)</span><br/>
			<hr/>
			<span>Ads: <b>{{ads_on}}</b></span><br/>
			<span>Ads: <b>{{ads}}</b></span>
		</div>
	</div>
</app-window>

<app-window title="Ads Odds" icon="fa-percent">
	<div class="row">
		<div class="col-sm-6">
			Got: <b>{{currentAd}}</b><br/>
			<hr/>
			<app-button
				(action)="getAd()"
				caption="Feed me!"
			/>
		</div>
		<div class="col-sm-6">
			runs: {{ runs }}
			<hr/>
			<div *ngFor="let item of adStory | keyvalue">
				{{item.key}}: {{item.value}}
			</div>
		</div>
	</div>
</app-window>

<app-window title="[lojasalada]" icon="fa-ad"><app-block-350-300 type="lojasalada" /></app-window>
<app-window title="[empty] (position purposes)" icon="fa-ad"><app-block-350-300 type="empty" /></app-window>

<app-window title="Ad Block Sample" icon="fa-ad"><app-block-350-300/></app-window>


