@if(id) {
	<div class="form-group p-float-label">
		<textarea type="text"
			pInputTextarea
			class="form-control checking-field"
			[required]="required"
			[ngClass]="{ 'ng-invalid': error }"
			[id]="id" [name]="id"
			[(ngModel)]="value"
			(ngModelChange)="valueEmit();"
			[autoResize]="autoResize"
			[disabled]="disabled"
			[rows]="rows"
		></textarea>
		<label for="{{ id }}">
			{{ label }}
			<span class="required" *ngIf="required">*</span>
		</label>
	</div>
} @else {
	<span>ID not set</span>
}
