<div class="form-check">
	@if (switch) {
		<p-toggleswitch
			class="{{extraClass}}"
			[class.ng-invalid]="error"
			[id]="id" name="{{id}}"
			[(ngModel)]="checked"
			(ngModelChange)="checkedEmit();"
			[disabled]="disabled"
			[ariaChecked]="checked"
		/>
	} @else {
		<input
			class="form-check-input {{extraClass}} custom-checkbox"
			[class.ng-invalid]="error"
			[id]="id" name="{{id}}"
			type="checkbox"
			[(ngModel)]="checked"
			(ngModelChange)="checkedEmit();"
			[disabled]="disabled"
		/>
	}
	<label class="form-check-label" for="{{id}}" (click)="toggle()">
		@if(label) { {{label}} } @else { <ng-content></ng-content> }
	</label>
</div>
