@import "variables";

.required {
	color: $error-color;
}

.form-group {
	margin-top: 10px;
}

input {
	&.pre-group {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}
	margin-top: 10px;
	height: 40px;
}


