@use "vars";

p-panel {
	margin-bottom: 20px;
	display: block;
	.p-panel-header {
		gap: 10px;
		.title {
			flex-grow: 1;
			font-weight: bold;
			color: var(--primary-color);
		}
		app-loading {
			margin-right: 20px;
		}
		.p-panel-icons {
			fa-icon,
			p-button button {
				cursor: pointer;
				width: 25px; height: 25px;
				border-radius: 50%;
				padding: 4px;
				&:not(:disabled):hover {
					background-color: vars.$surface-hover;
					color: vars.$primary-color;
				}
			}
		}
	}
}

app-loading {
	margin-left: 20px;
	margin-bottom: 25px;
}

.icon-action { cursor: pointer; }