<app-window
	class="mb-2"
	title="Call ranking/full"
	icon="fas fa-sort-amount-down-alt"
>
	<div class="flex right">
		<a [href]="apiURL" target="_blank">Acessar API</a>
	</div>
	<div class="flex mt-2">
		<app-button
			caption="Cache Ranking"
			type="primary"
			icon="fa fa-play-circle"
			[loading]="loading"
			(action)="generate()"
		/>
	</div>

	<div class="flex mt-4" *ngIf="rs">
		<div class="flex">
			<pre class="code" *ngIf="!loading && rs">{{ rs | json }}</pre>
		</div>
	</div>

</app-window>

