@import "variables";

#main-error {
	height: 100%;
	display: block;
	margin-top: $nav-height;
	.container { 
		padding-top: 40px;
		text-align: center;
	}

	img.mascot {
		width: 200px;
		margin-bottom: 20px;
	}

}

app-footer {
	bottom: 0;
	position: absolute;
	width: 100%;	
}
