$badgeColor: #DDD;

.ad-container {
	width: 100%;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	.ad {
		width: 300px;
		text-align: right;
		// height: 250px;
		// background-color: red;
		&:before {
			content: 'anúncio';
			font-size: 10px;
			padding: 2px 5px;
			color: black;
			background-color: $badgeColor;
			border-top-right-radius: 3px;
			border-top-left-radius: 3px;
			border-bottom: 1px solid $badgeColor;
		}
	}
}
